<app-layout-header></app-layout-header>
<app-layout-sidebar></app-layout-sidebar>

<div class="user-title">
    User menu
</div>

<div class="user-menu">
    <div class="header">
        <a routerLink="./add" class="link">Add user</a>
        <a routerLink="./edit" class="link">Edit user</a>
        <a routerLink="./delete" class="link">Delete user</a>
    </div>
    <div class="main">
        <router-outlet></router-outlet>
    </div>
</div>

<div class="users-list">
    <div class="header">
        Users
    </div>
    <div class="main">

    </div>
</div>

<app-layout-footer></app-layout-footer>
