<div class="container">
    <div class="logo">
        <img src="/assets/images/logo.jpg" alt="Try to imagine">
    </div>
    <form id="login" class="login authorization" [formGroup]="authForm">
        <input type="text" name="login-username" placeholder="Username" formControlName="username">
        <input type="password" name="login-password" placeholder="Password" formControlName="password">

    </form>
    <p>Form value: {{ authForm.value.password }}</p>
    <button (click)="login()">PUTIN</button>
</div>
