:host {
    width: 100%;
    height: 100%;
    grid-column: 13/20;
    grid-row: 3/14;
    background-color: rgb(77, 77, 77);
    display: flex;
}

.news-content-browser{
    right: 0;
    width: 60%;
    padding-left: 10px;
    font-size: 1.1rem;
}

.news-title-browser {
    left: 0;
    width: 40%;
    overflow-y: scroll;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,1);
    display: block;
    font-size: 1.1rem;
  }

