<div class="news-slider">
    <div id="{{i}}" class="slide" [ngStyle]="settingSlide()" *ngFor="let slide of sliderNews; index as i">
        <div class="title">
            {{slide}}
        </div>
        <div class="content">
            no trochę dłuższy content text no trochę dłuższy content text
            no trochę dłuższy content text no trochę dłuższy content text
            no trochę dłuższy content text no trochę dłuższy content text
            no trochę dłuższy content text no trochę dłuższy content text
            no trochę dłuższy content text no trochę dłuższy content text
            no trochę dłuższy content text no trochę dłuższy content text
            no trochę dłuższy content text no trochę dłuższy content text
        </div>
    </div>
    <div class="news-slider-controls" >
        <div class="inactive" *ngFor="let slide of sliderNews; index as i" (click)="changeSlide(i)" [ngClass]="{'active': i === currentTransform || i === currentTransform / 100}"></div>
    </div>
</div>


