a {
    padding: 30px 8px 2px 5px;
    text-decoration: none;
    font-size: 2.8rem;
    color: rgb(129, 129, 129);
    display: inline-block;
    width: 500px;
}

a:hover {
    color: rgb(173, 173, 173);
    background-color: rgba(50, 50, 50, 0.95)
}

img {
    margin: 0px 70px 0px 0px;
}

.sidebar {
    width: 100px;
    height: 90vh;
    margin-top: 5vh;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow: hidden;
    padding-top: 50px;
    background-color: rgba(37, 37, 37, 0.95);
    left: 0;
}
