<div class="sidebar" [@sidebarState]="sidebarState" (mouseenter)="toggle()" (mouseleave)="toggle()" #sidebar>
    <a routerLink="/"><img src="/assets/images/icons/home.png" align="middle"><div>Home</div></a>
    <a routerLink="/profile"><img src="/assets/images/icons/account.png" align="middle"><div>Profile</div></a>
    <a routerLink="/stats"><img src="/assets/images/icons/marks.png" align="middle"><div>Stats</div></a>
    <a routerLink="/subjects"><img src="/assets/images/icons/subjects.png" align="middle"><div>Subjects</div></a>
    <a routerLink="/groups"><img src="/assets/images/icons/group.png" align="middle"><div>Groups</div></a>
    <a routerLink="/news"><img src="/assets/images/icons/news.png" align="middle"><div>News</div></a>
    <a routerLink="/messages"><img src="/assets/images/icons/messages.png" align="middle"><div>Messages</div></a>
</div>
