<div class="sidebar" [@sidebarState]="sidebarState" (mouseenter)="toggle()" (mouseleave)="toggle()"  #sidebar>
    <a routerLink="/"><img src="/assets/images/icons/home.png" align="middle">Home</a>
    <a routerLink="/profile"><img src="/assets/images/icons/account.png" align="middle">Profile</a>
    <a routerLink="/subjects"><img src="/assets/images/icons/subjects.png" align="middle">Subjects</a>
    <a routerLink="/groups"><img src="/assets/images/icons/group.png" align="middle">Groups</a>
    <a routerLink="/news"><img src="/assets/images/icons/news.png" align="middle">News</a>
    <div class="logout"><img src="/assets/images/icons/logout.png"></div>
</div>
