.sidebar {
    width: auto;
    height: 100vh;
    padding-top: 70px;
    position: fixed;
    overflow: hidden;
    z-index: 98;
    background-color: rgba(36, 36, 36, 0.95);
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 10%;
    text-decoration: none;
    font-size: 2.8rem;
    color: rgb(129, 129, 129);
    width: 100%;
    border-bottom: 2px solid rgba(10, 10, 10, 0.95);
}

a:hover {
    color: rgb(173, 173, 173);
    background-color: rgba(50, 50, 50, 0.95)
}

a img {
    height: 70%;
    width: 100%;
    max-width: 90px;
    object-fit: contain;
}

a div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 410px;
    max-width: 410px;
}


