<div class="container">
    <form id="addUser" class="addUser" [formGroup]="addUserForm">
        <label for="name"> Name: </label>
        <input type="text" name="name" placeholder="Name" formControlName="name">
        <label for="name"> Lastname: </label>
        <input type="text" name="lastname" placeholder="Lastname" formControlName="lastname">
        <label for="name"> Login: </label>
        <input type="text" name="login" placeholder="Login" formControlName="login">
        <label for="name"> Password: </label>
        <input type="password" name="password" placeholder="Password" formControlName="password">
        <label for="name"> Number in class: </label>
        <input type="number" name="register-number" placeholder="1" formControlName="register_number">
        <label for="name"> Class: </label>
        <select name="group_id" formControlName="group_id" >
            <option *ngFor="let group of groups | async as groups; first as isFirst" [attr.id]="group.id" [ngValue]="group.id"> {{ group.name }} </option>
        </select>
        <label for="role"> Role: </label>
        <select name="role" formControlName="role">
            <option *ngFor="let role of roles | async as roles; first as isFirst" [ngValue]="role"> {{ role }} </option>
        </select>
    </form>
    <button (click)="addUser()">Add User</button>
</div>
