:host {
    width: 100%;
    height: 100%;
    grid-column: 1 / 21;
    grid-row: 1 / 21;
    z-index: 98;
    display: flex;
}

.blackout {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.9);
    align-items: center;
    justify-content: center;
}

.window {
    display: flex;
    width: 40%;
    height: 40%;
    background-color: black;
    border: solid rgb(0, 153, 255);
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.message{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 70%;
    font-size: 1.6rem;
    margin: 0;
}

.buttons{
    display: flex;
    height: 30%;
    margin: 0;
    width: 100%;
    justify-content: flex-start;
}

#close {
    transition: 0.5s;
    color: white;
    background: transparent;
    font-weight: 900;
    cursor: pointer;
    font-size: 1.6rem;
    height: 100%;
    width: 50%;
    border:none;
    box-shadow: inset -2px 3px 0px 0px rgb(0, 153, 255);
}

#close:hover {
    color: rgb(0, 153, 255);
}

#confirm {
    transition: 0.5s;
    color: white;
    background: transparent;
    cursor: pointer;
    font-weight: 900;
    font-size: 1.6rem;    
    height: 100%;
    width: 50%;
    border: none;
    box-shadow: inset 1px 3px 0px 0px rgb(0, 153, 255);
}

#confirm:hover {
    background-color: red;
}