<div class="message_list">
    <a class="switch" [ngStyle]="list === 'recieved' ?{'background-color': 'rgb(31, 31, 31)', 'color': 'rgb(0, 153, 255)'} : {'color': 'white'}" id="recieved" (click)="switch_list(type='recieved')">Recieved</a>
    <a class="switch" id="sent" [ngStyle]="list === 'sent' ?{'background-color': 'rgb(31, 31, 31)', 'color': 'rgb(0, 153, 255)'} : {'color': 'white'}" (click)="switch_list(type='sent')">Sent</a>
    <div class="recieved" *ngIf="list === 'recieved'">
        <div class="content" *ngFor="let recieved of recieved_messages; index as i" (click)="getContent(i, type='recieved')" [style.color]="active_index === i ? 'rgb(0, 153, 255)' : 'white'">
            <p class="title">{{ recieved.title }}</p>
            <div class="date_name">
                <p class="date">Added: {{ recieved.creation_date | date:'shortDate' }}</p>
                <p class="user">{{ recieved.name }} {{ recieved.lastname }}</p>
            </div>
        </div>
    </div>
    <div class="sent" *ngIf="list === 'sent'">
        <div class="content" *ngFor="let sent of sent_messages; index as i" (click)="getContent(i, type='sent')" [style.color]="active_index === i ? 'rgb(0, 153, 255)' : 'white'">
            <p class="title">{{ sent.title }}</p>
            <div class="date_name">
                <p class="date">Added: {{ sent.creation_date | date:'shortDate' }}</p>
                <p class="user">{{ sent.name }} {{ sent.lastname }}</p>
            </div>
            <div class="delete" (click)="deleteMessage(sent.id); $event.stopPropagation()"></div>
        </div>
    </div>
    <form class="filterForm" [formGroup]="filterForm">
        <input (focus)="clearSearch()" type="text" class="search" formControlName="searchValue" placeholder="Search...">
        <select formControlName="condition">
            <option disabled [ngValue]="null">Search Condition</option>
            <option value="Title">Title</option>
            <option value="User">Last Name</option>
        </select>
    </form>
</div>
<div class="message_content">
    <p class="a_title">{{ activeMessage.title }}</p>
    <pre class="a_content">{{ activeMessage.content }}</pre>
    <p class="a_date">{{ activeMessage.creation_date | date:'shortDate' }}</p>
    <p class="a_user">{{ activeMessage.name }} {{ activeMessage.lastname }}</p>
</div>
